* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-size: 15px;
  background-color: #002642;
  color: #E5DADA;
  font-family: 'Mukta', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100vw;
  padding: 1.5rem;
  background-color: #02040F;
  box-shadow: 0px 3px 5px 0px rgba(229,149,0,0.7);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(229,149,0,0.7);
  -moz-box-shadow: 0px 3px 5px 0px rgba(229,149,0,0.7);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.app-name, 
.navbar {
   display: flex;
   justify-content: center;
}

.footer {
   position: relative;
   display: flex;
   justify-content: center;
   width: 100%;
   min-height: 15vh;
   background: rgb(0,38,66);
   background: linear-gradient(0deg, rgba(0,38,66,1) 0%, rgba(0,0,0,1) 80%);
}

.author {
   position: absolute;
   bottom: 0;
   width: 100%;
   padding-block: .5rem;
   color: greenyellow;
   font-size: 0.8rem;
   display: flex;
   justify-content: center;
}

.userbar {
  padding: 1rem;
  border-radius: 10px;
  background: rgb(7,101,128);
  background: linear-gradient(90deg, rgba(7,101,128,1) 7%, rgba(18,130,162,1) 100%);
  color: black;
}

.logoutBtnWrapper {
  text-align: right;
}

.app-name {
  font-size: 3rem;
  font-weight: bold;
  color: #840032;
}

.part-one {
  color:#E5DADA;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: #E59500;
}

a:hover {
  text-decoration: underline;
}

#hint{
  margin: 1rem;
  padding: 0.8rem;
  background-color: #E5DADA;
  color: black;
  border-radius: 10px;
  font-size: 0.9rem;
  animation: drop 1300ms ease-out 2s forwards;
  visibility: hidden;
}

#hint ul {
  margin: 0.5rem;
  list-style-type: none;
}

@keyframes drop {
  0% {
    transform: scale(0);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem 2rem;
  min-height: 75vh;
}

.errormsg {
  color: red;
}

.main {
  padding: 1rem;
  min-width: 800px;
}

h1 {
  margin: 0 0 2rem 0;
  font-size: 1.2rem;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
}

input {
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 5px auto;
  width: 15rem;
  height: 3rem;
  font-family: inherit;
  font-size: inherit;
}

input[type="checkbox"] {
  margin: 0.5rem;
  width: initial;
  height: initial;
}

select {
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 5px 0;
  width: 15rem;
  height: 3rem;
  font-family: inherit;
  font-size: inherit;
}

button {
  width: 15rem;
  height: 3rem;
  padding: 0.5rem;
  background-color: #840032;
  color: #E5DADA;
  border: none;
  border-radius: 5px;
  margin: 1rem auto;
  font-family: inherit;
  font-size: inherit;
}

button:hover {
  border: 2px solid #E5DADA;
}

button.del {
  width: 6rem;
  height: 2rem;
  margin: 0;
  background-color: #E5DADA;
  color: #840032;
  font-weight: bold;
}

button.del:hover {
  background-color: #840032;
  color: #E5DADA;
  cursor: pointer;
}

a.del {
  color: #E5DADA;
}

a.del:hover {
  text-decoration: underline;
  color: #E59500;
}

button.logout {
  padding: 0;
  margin: 0.5rem 0;
  width: initial;
  height: initial;
  text-align: right;
  background: none;
  color: #E59500;
}

button.logout:hover {
  border: initial;
  cursor: pointer;
  text-decoration: underline;
}

.auth-container, 
.create-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #02040F;
  border-radius: 1rem;
}

.center {
  margin: 0 auto;
}

.auth-container:nth-child(2) {
  border-top: 1px solid white;
  margin-top: 2rem;
}

.auth-container h2 {
  margin: 1rem;
  text-align: center;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
}

.create-item form {
  display: flex;
  flex-direction: column;
}

.create-item form > input, select {
  margin-bottom: 0.8rem;
}

table.budget-items {
  border-collapse: collapse;
  margin: 1rem auto;
}

table.budget-items td {
  padding: 1rem;
}

td.action {
  background-color: #02040F;
  text-align: center;
}

table.budget-items th {
  padding: 1rem;
  background-color: #840032;
  border-bottom: 1px solid gainsboro; 
}

table.budget-items tr:nth-child(odd) {
  /*background-color: #1282A2; */
  background-color: #076580;
}

table.budget-items tr:last-child {
  background-color: #E59500;
  color: black;
  font-weight: bold;
}

.filterContainer {
  padding: 1rem;
  /* margin-top: 2rem; */
  border-radius: 10px;
  background: rgb(7,101,128);
  background: linear-gradient(90deg, rgba(7,101,128,1) 7%, rgba(18,130,162,1) 100%);
  color: black;
}

.regForm {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}

.regFormTransition {
  visibility: visible;
  opacity: 1;
}


@media screen and (max-width: 1120px) {

   .wrapper {
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;
      gap: 1rem;
   }

   .container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
   }

   table.budget-items {
      margin: 0 auto;
   }

   table.budget-items td, th {
      padding: 0.6rem;
   }

}

@media screen and (max-width: 700px) {

  .header {
    flex-wrap: wrap;
    justify-content: center;
    height: initial;
    gap: 1rem;
  }

  .wrapper {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
    width: 100vw;
  }

  div.loggedUser {
    display: inline;
  }

  div.logoutBtnWrapper {
    display: inline;
    margin: 0 1rem;
  }

  
}